@model PersonalMvc.Models.Product
@{
    ViewBag.Title = "ChooseMaterial";
}

<h2>Выберите материал</h2>

<form action="/Product/TimeCreate" method="get">
    <input type="hidden" name="Name" value="@Model.Name"/>
    <input type="hidden" name="DepartmentId" value="@Model.DepartmentId" />
    <input type="hidden" name="PersonalId" value="@Model.PersonalId" />
    <select name="materialId">
        @foreach (var item in ViewBag.Materials)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <input type="submit" value="Далее" />
</form>